# Python
*.pyc
*.pyo
*.pyd
__pycache__/


*.db
*.sqlite3
# .gitignore  (add these lines if not already present)
.env

# Django
*.log
*.pot
*.py[cod]
*.egg-info/
env-loom/
.env
*.env
local_settings.py

# Static files

media/

# IDE files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db
